<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>PDF Generation Example</title>
    <link th:href="@{src/main/resources/static/css/styles.css}" rel="stylesheet" />
</head>
<body>

<div class="header">
    <h1 th:text="${title}"></h1>
    <p>Documento generado dinamicamente</p>
</div>

<div class="section" th:if="${showSection1}">
    <h2>Seccion 1</h2>
    <div class="checkbox">
        <input type="checkbox" /> Checkbox
    </div>
    <img th:src="@{src/main/resources/static/images/logo.jpg}" alt="Imagen de ejemplo" width="200px" height="200px" />
    <p>Descripcion de la seccion 1.</p>
</div>

<div class="section" th:if="${showSection2}">
    <h2>Sección 2</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Correo Electrónico</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Juan Perez</td>
            <td>30</td>
            <td>juan.perez@gmail.com</td>
        </tr>
        <tr>
            <td>Maria Lopez</td>
            <td>25</td>
            <td>maria.lopez@gmail.com</td>
        </tr>
        </tbody>
    </table>
    <p>Tabla seccion 2.</p>
</div>

<div class="section" th:if="${showSection3}">
    <h2>Seccion 3</h2>
    <p>Por favor, firme:</p>
    <div class="signature">
        <div class="line"></div>
        <p>Firma del usuario</p>
    </div>
</div>

<div class="footer">
    <p>Generado automaticamente el <span th:text="${#dates.format(new java.util.Date(), 'yyyy-MM-dd HH:mm:ss')}"></span>.</p>
</div>

</body>
</html>
